/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.parrafoscentrados {
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafoscentradoshijo {
 
}

.select-css {
    display: initial;
    font-size: 14px;
    /*    font-family: 'Verdana', sans-serif;*/
    font-weight: bold;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 205px;
    max-width: 100%;
    box-sizing: border-box;
    /* margin: 20px auto;*/
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-align: center;
}

    .select-css::-ms-expand {
        
        display: none;
    }

    .select-css:hover {
        border-color: #888;
    }

    .select-css:focus {

        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }

    .select-css option {

        font-weight: bold;
        
    }


.classOfElementToColor:hover {
    
    background-color: red;
    color: black
}

.select-css option[selected] {
    background-color: #009688;
}

.filtro button.icon {
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    background: white;
    height: 30px;
    width: 45px;
    color: #000000;
    opacity: 1;
    font-size: 14pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.filtro:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: 0px;
}

    .filtro:hover button.icon:hover {
        background: #009688;
    }

.listado {
    text-align: left;
}

.list {
    font-weight: bolder;
}

.titulo_alerta {
    color: darkred;
}

.contenido_sintomas {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    font-weight: normal;
}


.box {
    float: right;
}

.container-4 {
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0px auto;
}

    .container-4 input#BuscarNombre {
        width: 250px;
        height: 35px;
        /*  background: #009688;*/
        background: #1CC4FA;
        border: none;
        font-size: 14pt;
        text-align: center;
        float: left;
        color: #000000;
        padding-left: 15px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

        .container-4 input#BuscarNombre::-webkit-input-placeholder {
            color: #000000;
            font-weight: bold;  
        }

        .container-4 input#BuscarNombre:-moz-placeholder { /* Firefox 18- */
            color: #000000;
            font-weight: bold;
        }

        .container-4 input#BuscarNombre::-moz-placeholder { /* Firefox 19+ */
            color: #000000;
            font-weight: bold;
        }

        .container-4 input#BuscarNombre:-ms-input-placeholder {
            color: #000000;
            font-weight: bold;
        }

    .container-4 button.icon {
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border: none;
        background: white;
        height: 35px;
        width: 50px;
        color: #000000;
        opacity: 1;
        font-size: 14pt;
        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -ms-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease;
      
    }

    .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
        outline: none;
        opacity: 1;
        margin-left: -5px;
    }

        .container-4:hover button.icon:hover {
            background: #009688;
        }

.contenido {
    font-size: 15px;
    font-family: sans-serif;
}
    .contenido h2 {
        font-size: 25px;
        font-family: sans-serif;
    }

.circular--square {
    border-radius: 50%;
}

.buscador {

}

img.avatar {
    max-width: 110%;
    max-height: 110%;
    margin-left: auto;
    margin-right: auto;
}

table.login {
    text-align: center;
    align-content:baseline;
    max-width: 70%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    display:block;
}
label.user {
    font-size: 20px;
}
label.pass {
    font-size: 20px;
}
input.boxuser {
    font-size: 14px;
}
input.boxpass {
    font-size: 14px;
}
button.btnlogin {
    font-size: 16px;
}

button.btncancel {
    font-size: 16px;
}

.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
div.dropdown {
    width: 180px;
    height: auto;
}


.imgSlider {
    max-width: 350%;
    height: 50%;
}


.sheetSlider {
    max-width: 100%;
    height: 20%;
    background-color: #1b6ec2;
    text-align: center;
}

/*Slider automatico*/
.slider {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

    .slider ul {
        display: flex;
        padding: 0;
        width: 300%;
        animation: cambio 20s infinite alternate linear;
    }

    .slider li {
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 100%;
    }

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    28% {
        margin-left: 0;
    }

    33% {
        margin-left: -100%;
    }

    61% {
        margin-left: -100%;
    }

    66% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

.imglogo {
    max-width: 30%;
}

.imgicono {
    max-width: 14%;
    max-height: 14%;
}
.imgiconoavatar {
    max-width: 20%;
    max-height: 20%;
}
.imgiconodepamedico {
    max-width: 15%;
    max-height: 15%;
}

.navbar-brand {
    max-width: 30%;
/*    max-height: 5%;*/
}

/*menu dropeado*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 10px 16px 5px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.nav-item a {
    float: none;
    color: black;
    padding: 10px 2px 10px 2px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: auto;

}

    .nav-item a:hover {
        background-color: #CEFFED;

    }

.nav-item2 a {
    float: none;
    color: black;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

    .nav-item2 a:hover {
        background-color: #CEFFED;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
/*menu dropeado*/




/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
        font-style: normal;

    }

    .imgSlider {
        max-width: 100%;
        height: 275px;
    }

    .sheetSlider {
        max-width: 100%;
        height: 275px;
        background-color: #1b6ec2;
        text-align: center;
    }

    .sh__meta span, .sh__meta h4 {
        align-content: center;
        color: brown;
    }

    .sh__meta img {
        max-width: 30%;
    }

    .sh__meta {
        display: flex;
        align-items: end;
        justify-content: right;
    }

}

.navbar-light .navbar-brand2 {
    color: rgba(0,0,0,.9);
}

.navbar-brand2 {
    max-width: 125px;
    font-size: 14px;
}

.navbar-brand2 {
    white-space: normal;
    text-align: justify;
    word-break: break-all;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
