
@{
    ViewBag.Title = "Contactenos";
}

<div class="titulo_general"><h1>Contáctenos</h1></div>
<br />
<table>
    <tr>
        <td>
            <div class="titulo_contactenos">
                <h2>Comunícate con nosotros: <br /></h2>
            </div>
            <div class="contenido_contactenos">
                <p>
                    Consulta más sobre como impulsar el Sistema Clínico comunicándote con el Departamento de Desarrollo.<br />
                </p>
            </div>

            <div class="titulo_contactenos">
                <h2>Teléfono<br /></h2>
            </div>
            <div class="contenido_contactenos">
                <p>
                    Para obtener más información sobre cómo realizar una donación, comunícate al +503 26001920.<br />
                </p>
                <p>
                    Para solicitar una consulta médica puedes iniciar sesión si no tienes una cuenta solamente <br />
                    regístrate y luego visita la pestaña
                    <a asp-area="" asp-controller="Home" asp-action="Contactenos">
                        Consultas
                    </a>
                    que aparecerá cuando estés registrado.<br />
                </p>
            </div>

            <div class="titulo_contactenos">
                <h2>Correo electrónico</h2>
            </div>
            <div class="contenido_contactenos">
                <p>
                    Datanetsv_development@gmail.com<br />
                </p>
            </div>
        </td>
        <td width="25">
            <br />
        </td>
        <td>
            <div class="titulo_contactenos">
                <h2>Correo y envíos</h2>
            </div>
            <div>
                <p>
                    Departamento de Desarrollo<br />
                    Sistema Clínico<br />
                    Servicio postal<br />
                    San Salvador<br />
                    2282 8862<br />

                </p>
            </div>

            <div class="titulo_contactenos">
                <h2>¿Tiene alguna pregunta? <br /></h2>
            </div>
            <div class="contenido_contactenos">
                <p>
                    Encuéntranos en nuestras redes sociales como SistemaClinico_Datanetsv <br />
                </p>
                <table>
                    <tr>
                        <a href="http://www.facebook.com/" target="_blank">
                            <img src="~/Content/Images/facebook.jpg" width="45" height="45" />&nbsp Facebook
                        </a>
                    </tr>
                    <tr>
                        <a href="http://www.twitter.com/" target="_blank">
                            <img src="~/Content/Images/Twitter.png" width="50" height="30" />&nbsp Twitter
                        </a>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>

