@{
    ViewBag.Title = "Datanetsv";
    ViewBag.Message = "PRE-ESPECIALIDAD: INTEROPERABILIDAD ORACLE ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<center>
    <img src="~/Content/images/logo_utec_solo_letras.png" width="729" height="124" />
    <br />
    <p>
        FACULTAD DE INFORMÁTICA Y CIENCIAS APLICADAS
        ESCUELA DE INFORMATICA
    </p>
    <br />
    <p>
        PRE-ESPECIALIDAD: INTEROPERABILIDAD ORACLE
    </p>
    <br />
    <img src="~/Content/images/logo utec.png" width="180" height="195" />
    <br />
    <p>TEMA: SISTEMA MEDICO DIGITAL</p>
    <br />
    <p>TRABAJO DE GRADUACIÓN PRESENTADO POR:</p>
    <br />
    <p>HAN MIN HU GONZALEZ</p>
    <p>KEVIN BALMORE LEMUS OROZCO</p>
    <p>OSCAR FRANCISCO TRIGUEROS ORDOÑEZ</p>
    <br />
    <p>PARA OPTAR AL GRADO DE:</p>
    <p>INGENIERO EN SISTEMAS Y COMPUTACIÓN.</p>
    <br />
    <p>SAN SALVADOR, EL SALVADOR, CENTROAMERICA.</p>
</center>
