@{
    ViewBag.Title = "Home Page";
}


@*<h1>PROBANDO VARIABLES DE SESION: @Session["User"]</h1>*@

<div class="titulo_general"><h1>Clínica Datanet</h1></div>
<br />
<div class="contenido">
    <table class="tablas_abc">
        <tr>
            <td>

                <div class="titulo_contactenos">
                    <center>
                        <h2>Quiénes Somos</h2>

                        <div class="msj_parrafo">

                            <p>

                                La Clínica Médica Datanet, creada en el año 2020 surge como una respuesta tecnológica
                                ante la necesidad del distanciamiento social necesario para contener la pandemia
                                de COVID19, es a partir de aquí que el modelo de servicio online se volvió un estándar a seguir en adelante
                                en la atención de los pacientes de la sociedad salvadoreña.

                            </p>
                            <br>

                            <h2>Objetivos</h2>

                            <p>

                                El propósito de la Clínica Datanet es el brindar a la población los servicios
                                tradicionales de una clínica médica pero implementando el uso de las tecnologías
                                de la información, garantizando la calidad y seguridad que nos caracterizan.

                            </p>

                            <br>

                            <h2>Misión</h2>

                            <p>
                                "Proporcionar servicios médicos de calidad a la población usando la tecnología como herramienta."
                            </p>
                            <br>

                            <h2>Visión</h2>

                            <p>
                                "Llevar nuestros servicios a la mayor parte de la población y ser reconocidos como uno de los
                                mejores centros médicos en la región."
                            </p>

                        </div>
                    </center>
                </div>
            </td>

            <td>
                <div class="imagen_presentacion circular--square">
                    <img class="circular--square" src="~/Content/Images/medicos.jpg" />
                </div>
            </td>
        </tr>

    </table>
</div>
